/* fo nt */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common sty le */
body{
    font-family: 'Poppins', sans-serif;
}

body h1{
    font-weight: 700;
    font-size: 70px;
}


    /* common style end */
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


.banner{
    display: flex;
    justify-content: space-evenly;
 
   
    background-color: black;
    color: white;
    margin: 0 50px;
    border-radius: 20px;
}


.top-banner{
    margin-left: 110px;
}


.top-banner-img img{
    width: 581px;
    height: 613px;
    margin-top: 30px;
    
}

.btn{
    background-color: #DD0000;
    color: white;
    
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
    padding: 12px 35px;
    
    border-radius: 7px;
}

/* article_section */
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
   

    width: 312px;
    height: 312px;
background: #161616;
border-radius: 10px;
margin-top: 116px;
margin-left: 1.5%;
}

.menu-btn{
    background-color: aliceblue;
    text-align: center;
    align-self: center;
    text-decoration: none;

    color: black;
    width: 256px;
    padding: 18px 0;
    margin: 15px 0;
    border-radius: 5px;}

#btn-color{
    background-color: #DD0000;
    }

    .card-match {
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }
    
    .card-match {
        width: 312px;
    height: 242px;
    border: 1px solid #161616;
    border-radius: 10px;
}

.card-match  h3{
    margin: 20px;
    
font-weight: 600;
font-size: 18px;
line-height: 27px;

color: #161616;
}

.transfer-btn{
    border: 1px solid #161616;
    border-radius: 5px;
    color: #161616;
    width: 100px;
    margin: 20px 0 10px 20px;
   
   font-weight: 500;
font-size: 16px;
text-decoration: none;
text-align: center;

}

.timing{
    display: flex;
    justify-content:space-around;
}

.icons{
    font-size: 20px;
    font-weight: 100;
}
.fa-solid{
    margin: 10px;
    
}

.articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   gap: 15px;
   margin-right: 2%;
    
}
    
.article{
    display: flex;
    justify-content: space-between;
}


#margin{
    margin-top: 116px;
}

.card-match {
    margin-top: 20px;
}

.card-match h3{

    font-weight: 600;
font-size: 20px;
line-height: 30px;


text-align: center;

color: #161616;
}
.card-match p{
    font-weight: 400;
font-size: 16px;
line-height: 20px;


text-align: center;

color: #4D4D4D;
}


.single-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}
#matches
{
    margin-top: 120px;
}


/* manu section end */


.footer{
    width: 100%;
    height: 444px;
    background-color: #161616;
    color: #fff;
    margin-top: 100px;
    border-radius: 20px;
    
}

.footer h2{
    font-size: 40px;
    font-weight: 800;
   
  
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.fotter{
    display: flex  ;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 50px;

}

.fa-brands{
    font-size: 30px;
    margin: 10px;
}
/* media quar y */

/* for mobile m */

@media only screen and (max-width: 600px){
    .banner{
        flex-direction: column;
        align-items: center;
    margin: 0 10%;}

        .top-banner{
            margin-left: 0px;
        }

.top-banner-img img {
    width: 233px;
    height: 245px;
    margin-top: 30px;
        }

        body h1 {
            font-weight: 700;
            font-size: 22px;
        text-align: center;
    color: #DD0000;}

        .top-banner p{
            
            font-size: 10px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
        }

        .btn{
            padding: 6px 20px;
           margin-left: 25%;
        }

        .article{
            flex-direction: column;
            align-items: center;
        }

        .articles{
            grid-template-columns: repeat(1, 1fr);
        }
        .fotter {
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-bottom: 50px;
            align-content: center;
            align-items: center;
        }
    }
/* for tablets  devices */

@media only screen and (min-width: 601px) and (max-width: 998px){
    .banner{margin: 0;
       
        }

        body h1 {
            font-weight: 700;
            font-size: 40px;
        
    color: #3fdd00;}

    .top-banner-img img {
        width: 323px;
        height: 340px;
        margin-top: 30px;
            }

            .top-banner p{
    
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                
                
                text-align: center;
                        }
                        .btn{
                            padding: 6px 20px;
                           margin-left: 25%;
                        }
                        .article{
                            flex-direction: column;
                            align-items: center;
                        }
                
                        .articles{
                            grid-template-columns: repeat(2, 1fr ) ;}

                            #matches{
                                display: none;
                            }
                            .menu{
                                width: auto;
                                height: auto;
                                flex-direction: row;
                                background-color: #fff;
                                margin-top: 80px;
                                
                            }

                            .menu-btn{
                                border: 1px solid rgb(174, 155, 155);
                                gap: 10px;
                                margin-left: 10px;
                                margin-right: 10px;
                            }

                            
                            
                            
                                
                            }