/* fo nt */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common sty le */
body{
    font-family: 'Poppins', sans-serif;
}

body h1{
    font-weight: 700;
    font-size: 70px;}


    /* common style end */
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


.banner{
    display: flex;
    justify-content: space-evenly;
 
   
    background-color: black;
    color: white;
    margin: 0 50px;
    border-radius: 20px;
}


.top-banner{
    margin-left: 110px;
}


.top-banner-img img{
    width: 581px;
    height: 613px;
    margin-top: 30px;
    
}

.btn{
    background-color: #DD0000;
    color: white;
    
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
    padding: 12px 35px;
    
    border-radius: 7px;
}

/* article_section */
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
   

    width: 312px;
    height: 312px;
background: #161616;
border-radius: 10px;
margin-top: 116px;
margin-left: 1.5%;
}

.menu-btn{
    background-color: aliceblue;
    text-align: center;
    align-self: center;
    text-decoration: none;

    color: black;
    width: 256px;
    padding: 18px 0;
    margin: 15px 0;
    border-radius: 5px;
}

#btn-color{
    background-color: #DD0000;
    
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #fff;

}

.card{
    width: 312px;
height: 364px;
border: 1px solid #161616;
border-radius: 10px;
}

.card h3{
    margin: 20px;
    
font-weight: 600;
font-size: 18px;
line-height: 27px;

color: #161616;
}

.transfer-btn{
    border: 1px solid #161616;
    border-radius: 5px;
    color: #161616;
    width: 100px;
    margin: 20px 0 10px 20px;
   
   font-weight: 500;
font-size: 16px;
text-decoration: none;
text-align: center;

}

.timing{
    display: flex;
    justify-content:space-around;
}

.icons{
    font-size: 20px;
    font-weight: 100;
}
.fa-solid{
    margin: 10px;
    
}

.articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   gap: 10px;
   margin-right: 2%;
    
}
    
.article{
    display: flex;
    justify-content: space-between;
}


.card{
    margin-top: 116px;
}